<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stopwatch module</title>
    <script defer type="module" src="stopwatch.js"></script>
  </head>
  <body>
    <div id="timer" data-time="stopwatch" data-controllers="reset"></div>
    <script type="module">
      import stopwatch from "./stopwatch.js";
      const timer = document.getElementById("timer");
      stopwatch.init(timer);
    </script>
  </body>
</html>
