<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal component</title>
  </head>
  <body>
    <button id="openModalButton" type="button">Open modal</button>
    <script type="module">
      /* please consult the documentation (README) for the full list of options */
      import Modal from "./index.js";

      const options = {
        title: "Modal title",
        content: "Modal content",
        footer: {
          customButtons: [
            {
              text: "Validate",
              callback: () =>
                alert(
                  "Congratulation, you have clicked on the validate button"
                ),
            },
            {
              text: "Close",
              callback: () => {
                confirm(
                  "Window X say : Are you sure you want to close the modal ?"
                ) &&
                  // create a timer to close the modal after 3 seconds
                  setTimeout(() => {
                    modal.close();
                  }, 3000);
              },
            },
          ],
        },
      };

      const modal = new Modal(options);

      modal.render();

      const openModalButton = document.querySelector("#openModalButton");
      openModalButton.addEventListener("click", () => {
        modal.open();
      });
    </script>
  </body>
</html>
